{% extends "TodaCubaApp/base.html" %} {% block content %} {% load static %}

<div class="row col-12" style="margin-top: 4vw;">
    <div class="col-2"></div>
    <div class="col-8" style="margin: auto;text-align: center;">
        <h2 class="wow flipInY">Spedizione</h2>
        <img src="{% static 'IMG/AEROVARADERO-LOGO-e1448889016524.webp' %}" alt="">
 
    </div>
    <div class="col-2"></div>
</div>

<div class="row col-12" style="margin-top: 1vw;">
    <div class="col-2"></div>
    <div class="col-8">
        <p>INVIO DI  PACHI VIA AEREA</p>

        <p>In questo anno 2023
            TODA CUBA SRLS ha inserito una nuova attività nel proprio elenco di servizi.
           Attraverso il nostro partner AEROVARDERO S.A e supportati da diverse compagnie aeree, ci occupiamo del trasporto di merci commerciali e non commerciali a Cuba, agendo come spedizioniere riconosciuto per l'esportazione e l'importazione.</p>
     <p>EFFETTUIAMO SPEDIZIONI AEREE CON PARTENZA QUASI OGNI SETTIMANA CON POSSIBILITA' DI INVIO DI MISCELANEA IN SCATOLE MISTE DA 20 KG</p>
     <p>* E' POSSIBILE INVIARE NELLA CATEGORIA MISCELANEA ALIMENTI SECCHI E CONSERVE , ARTICOLI DI IGIENE PERSONALE, ABBIGLIAMENTO, FARMACI, SCARPE, ATTREZZATURE E ARTICOLI PER LA CASA*</p>
     <p>EFFETTUIAMO RITIRI A DOMICILIO IN TUTTA ITALIA FINO AI NOSTRI DEPOSITI COMPRESI NEL PREZZO FINALE</p>
     <p>NON È POSSIBILE METTERE NELLE CONFEZIONI BOMBOLE DI GAS, VERNICI, SMALTI, DETERGENTI INFIAMMABILI, ALCOOL, SPRAY, ALIMENTI FRESCHI</p>
     <p> * I PACCHI VENGONO CONSEGNATI IN TUTTE LE PROVINCE DELLA ISOLA, COMPRESE PINAR DEL RÍO E ISLA DE LA JUVENTUD *</p>
     <p>* A CUBA LE TASSE DOGANALI SONO PAGATE IN MONETA NAZIONALE CHE VENGONO TRA 1300,00 E 1500,00 PESOS PER OGNI PACCO DA 20 KG *</p>
     <p>POSSIBILITA' DI SPEDIZIONE DI BAGAGLIO NON ACOMPAGNATO E MENAJE DE CASA</p>
     <p>* POSSIBILITA' DI SPEDIZIONE DI ELETTRODOMESTICI E MOBILI A SECONDA DELLE DISPOSIZIONI UFFICIALE*</p> 
     <p>
        È IMPORTANTE SAPERE CHE LE DIMENSIONI DEI PACCHI NON DEVONO SUPERARE I 50X40X50 CM E IL LORO IMBALLAGIO DEVE ESSERE RESISTENTE E PLASTIFICATO, EVITANDO QUINDI QUALSIASI TIPO DI DETERIORAMENTO DELLA MERCE INTERNA</p>
     <p>NUMERI DI CONTTATI  <br> DA LUNEDÌ A VENERDÌ <br>DALLE 9:00  ALLE 13:00 <br>DALLE 16:00 ALLE 19:30</p>  
     <p>SABATO <br>DALLE 9:00 ALLE 13:00 </p>
     <p> 
        081 18368826 (UFFICIO)<br>3339371442 (WHATSSAP)<br>3427017776 (ANA)<br>3387768956 (YADIRA)
     </p>
    
  
    
    
    
    </div>

    <div class="col-2">

          </div>
</div>


{%endblock%}